<launch>
    <include file="$(find interfearence-gazebo)/launch/diff_empty_sim.launch"/>
    <include file="$(find interfearence-gazebo)/launch/diff_empty_sim.launch">
        <arg name="robot_name" value="enemy"/>
        <arg name="start_x" value="0.5"/>
        <arg name="start_y" value="0"/>
        <arg name="start_z" value="0.1"/>
        <arg name="master" value="False"/>
    </include>
</launch>
