<launch>
    <arg name="robot_name" default="interfearence"/>
    <arg name="start_x" default="-0.5"/>
    <arg name="start_y" default="0"/>
    <arg name="start_z" default="0.1"/>
    <arg name="master" default="True"/>

    <group if="$(arg master)">
        <!-- Launch Gazebo with custom world file -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="worlds/sumo_ring.world"/>
            <arg name="paused" value="true"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="recording" value="false"/>
            <arg name="debug" value="false"/>
        </include>
    </group>

    <group ns="$(arg robot_name)">
        <!-- Spawn in our robot -->
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
              args="-file $(find interfearence-description)/urdf/interfearence.urdf -urdf -x $(arg start_x) -y $(arg start_y) -z $(arg start_z) -model interfearence"/>

        <!-- Bring up the "hardware" controllers -->
        <include file="$(find interfearence-launch)/launch/diff_controller.launch"/>

        <!-- Bring up the secret weapon -->
        <include file="$(find interfearence-launch)/launch/secret_weapon.launch"/>
        
        <!-- Bring up the master -->
        <node name="rush_b" pkg="interfearence-master" type="rush_enemy.py"
              output="screen">
            <remap from="/cmd_vel" 
                   to="/interfearence/controller/differential/differential_controller/cmd_vel"/>
            <remap from="/odom"
                   to="/interfearence/controller/differential/differential_controller/odom"/>
        </node>
    </group>
</launch>
