<launch>
    <!-- Which controller to use. See spawn_robot.launch for options -->
    <arg name="controller_1" default="none"/>
    <arg name="controller_2" default="none"/>

    <arg name="robot_name_1" default="test_bot_1"/>
    <arg name="robot_name_2" default="test_bot_2"/>

    <!-- How many tests should we run before outputting the results? -->
    <arg name="iterations" default="1"/>

    <!-- After each match should we randomise the starting x and y positions
         of the of the robots? -->
    <arg name="randomise_positions" default="true"/>

    <!-- Spawn the first robot -->
    <!-- The first robot launches gazebo, the second does not -->
    <include file="$(find interfearence-gazebo)/launch/spawn_robot.launch">
        <arg name="robot_name" value="$(arg robot_name_1)"/>
        <arg name="controller_type" value="$(arg controller_1)"/>
        <arg name="start_x" value="-0.5"/>
        <arg name="start_yaw" value="0"/>
        <arg name="launch_gazebo" value="true"/>
    </include>

    <!-- Spawn the second robot -->
    <include file="$(find interfearence-gazebo)/launch/spawn_robot.launch">
        <arg name="robot_name" value="$(arg robot_name_2)"/>
        <arg name="controller_type" value="$(arg controller_2)"/>
        <arg name="start_x" value="0.5"/>
        <arg name="start_yaw" value="3.1415926"/>
    </include>

    <!-- Spawn a tester node -->
    <node pkg="interfearence-gazebo" type="tester.py" name="tester"
          output="screen" required="true">
        <param name="iterations" value="$(arg iterations)"/>
        <param name="robot_ns_1" value="$(arg robot_name_1)"/>
        <param name="robot_ns_2" value="$(arg robot_name_2)"/>
        <param name="randomise" value="$(arg randomise_positions)"/>
    </node>
</launch>
