<launch>
    <!-- Load URDF -->
    <param name="robot_description" 
           command="cat $(find interfearence-description)/urdf/interfearence.urdf"/>

    <!-- Load joint controller configurations from YAML -->
    <rosparam file="$(find interfearence-hardware)/config/interfearence_control.yaml"/>

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" 
          respawn="false" output="screen" ns="/interfearence"
          args="left_velocity_controller 
                right_velocity_controller
                joint_state_controller"/>

    <!-- robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/interfearence/joint_states"/>
    </node>
</launch>
