<launch>
    <!-- The main launch file. Brings up the full (real-life) system -->
    <arg name="controller_type" default="none"/>

    <!-- Bring up the hardware controllers -->
    <include file="$(find interfearence-launch)/launch/controllers.launch">
        <arg name="simulation" value="false"/>
    </include>
    <!-- Bring up the actual hardware interface -->
    <include file="$(find interfearence-launch)/launch/hardware.launch"/>
    <!-- Bring up the secret weapon -->
    <include file="$(find interfearence-launch)/launch/secret_weapon.launch"/>

</launch>
