<launch>
    <arg name="simulation" default="true"/>
        <!-- Bring up the secret weapon -->
    <node pkg="interfearence-secret-weapon" type="lidar_processor"
          name="secret_weapon" output="screen">
        <!-- Laser scanner data topic -->
        <param name="laser_topic" value="laser_scan"/>
        <!-- The diameter of the ring in meters -->
        <param name="arena_diameter" value="1.5"/>
        <!-- Maximum diagonal length of the enemy robot in meters.
             ~0.28 is sqrt(0.2^2 + 0.2^2) , but we want some tolerance -->
        <param name="max_robot_side" value="0.35"/>
        <!-- Minimum width of the enemy robot in meters -->
        <param name="min_robot_side" value="0.1"/>
        <!-- Maximum distance between points to consider them to be the same
             object in meters-->
        <param name="object_separation_dist" value="0.05"/>
        <!-- Threshold at which we estimate orientation from velocity -->
        <param name="velocity_threshold" value="0.2"/>
        <!-- How many previous odometry readings we use for a moving average
             of velocity and orientation estimates -->
        <param name="odometry_memory" value="5"/>
        <!-- Simulations don't need calibrating -->
        <param name="calibrate" value="$(eval not arg('simulation'))"/>
    </node>

    <group unless="$(arg simulation)">
        <node pkg="urg_node" type="urg_node" name="hokuyo" output="screen">
            <remap from="scan" to="laser_scan"/>
            <param name="serial_port" value="/dev/hokuyo"/>
            <param name="frame_id" value="hokuyo"/>
            <param name="angle_min" value="-1.91986"/>
            <param name="angle_max" value="1.91986"/>
        </node>
    </group>
</launch>
