<launch>
        <!-- Bring up the secret weapon -->
    <node pkg="interfearence-secret-weapon" type="lidar_processor"
          name="secret_weapon" output="screen">
        <!-- Laser scanner data topic -->
        <param name="laser_topic" value="laser_scan"/>
        <!-- The diameter of the ring in meters -->
        <param name="arena_diameter" value="1.5"/>
        <!-- The safety factor used when estimating if readings are outside
             of the arena or not (e.g. scanning the ref -->
        <param name="arena_safety_factor" value="1.25"/>
    </node>

    <!-- EKF to estimate enemy robot pose -->
    <!--
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf"
          output="screen">
        <param name="output_frame" value="/enemy_ekf"/>
        <param name="freq" value="30"/>
        <param name="sensor_timeout" value="0.05"/>
        <param name="odom_used" value="false"/>
        <param name="imu_used" value="false"/>
        <param name="vo_used" value="true"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
        <param name="base_footprint_frame" value="base_link"/>
        <remap from="vo" to="enemy_vo"/>
    </node>
    -->
</launch>
